.Message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .TextMessage {
    color: var(--color-text);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var(--color-text);
      font-size: var(--fs-md);
      margin-left: 10px;
    }
  }

  .Error {
    color: red;

    span {
      color: red;
    }
  }
}